/* BOX1 */

* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.nevbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}
.nev-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
/* BOX2 */
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/* BOX3 */
.nev-search {
  display: flex;
  justify-content: space-evenly;
  background-color: red;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input {
  width: 100%;
  
}
